<div class="data-block {{ active|default(NULL) }}">
  <div class="usage-grade">
    <div class="usage-grade-level" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-increment-step="1" style="height: {{ height|default(0) }}"></div>
  </div>

  <div class="data-block-content card-body d-flex flex-wrap px-2 pl-md-5 pr-md-0 {{ amount_height|default(NULL) }}">
    <div class="usage-amount col-6 offset-2 col-md-7 px-0 align-self-center">
      {{ num_gigs|default('2 GB')}}<br/>
      {{ data_type|default(rollover)}}
    </div>
    <div class="usage-status col-4 col-md-3 text-center align-self-center">
      {{ days_left|default(30) }}<br/>
    </div>
  </div>

</div>

