{% set uuid = uniqueID|default(random()) %}

<div class="form-collapse-container {{ collapseDefault|default(NULL) }}" {% if priceReveal is defined %} data-price-reveal="{{ priceReveal|default("no") }}"{% endif %}>
  
  <div class="edit-button-container collapse activation-collapse-{{uuid}}">
    <div class="bg-lightest-gray py-30">
      <div class="row justify-content-center">
        <div class="col col-lg-10 col-xl-8">
          <h4>{{ formLabel|default('Your activation code') }}</h4>
          <div class="card p-3 p-lg-4 p-md-3">
            {{ stepValueLabel|default(558214)|raw }}
          </div>
        </div>  
      </div>
    </div>
  </div>
  
  <div class="form-container collapse activation-collapse-{{uuid}} show">
    <div class="{{ formContainerPadding|default('py-50 py-md-60')}}">
      <div class="row justify-content-center">
        <div class="col col-lg-10 col-xl-8">
          {% block activationForm %}{% endblock %}   
        </div>
      </div>
    </div>    
  </div>  
  
</div>